<div class="container">
    <div class="brand">
        <img src="assets/urbaNest-withoutbg-cropped.png" height="45px" alt="BrandTitle">
    </div>
    <div class="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li id="properties">
                <a href="#">Properties
                    <img id="angle-top" style="position: relative; top: 3px;" src="assets/angle.svg" />
                </a>
                <ul id="property-dropdown" class="dropdown">
                    <li><a href="#">Buy Property</a></li>
                    <li><a href="#">Sell Property</a></li>
                    <!-- <li id="dropdown">
                        <a href="#">DropDown
                            <img id="angle-bottom" style="position: relative; top: 3px;" src="assets/angle.svg" />
                        </a>
                        <ul id="second-dropdown" class="dropdown">
                            <li><a href="#">Sub Menu 1</a></li>
                            <li><a href="#">Sub Menu 2</a></li>
                            <li><a href="#">Sub Menu 3</a></li>
                        </ul>
                    </li> -->
                </ul>
            </li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>