@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --dark-green: #005555;
    --dark-blue: #00204A;
    --dark-gray: #777777;
    --light-gray: #909090;
    --white: #FFFFFF;
    --variant-white: #EFEFEF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

*::-webkit-scrollbar{
    display: none;
}